*{
	padding: 0;
	margin: 0;
}

body {
	background-image: url("../img/pattern.jpg");
}

/* ----SOLO PARA WELCOME --- */

.welcome{
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.welcome figure figcaption{
	text-align: center; 
	font-size: 24px;
}

.welcome figure figcaption a{
	color: crimson;
}


/* HEADER */
h1{
	text-align:center;
	color: crimson;
	margin: 10px 15px;
}

/* NAV */

nav{
	margin-top: 5px;
	margin-bottom: 5px;	
	font-size: 12px;
	width: 100%;
}

nav a{
	display: inline-block;
	color: #000;
	width: 23%;
	text-align: center;
	margin: auto;
}

nav a:hover{
	color: #4B0082;
}

/* SECTION */
section {
	width: 80%;
	background-color: crimson;
	clear: both;
}
section h2{
	color: white;
	text-align: center;
	margin: 10px 10px;
}
/* ARTICLE */

article{
	position: relative;
	float: left;
	margin-left: 5px;
	width: 100%;
	background-color: crimson;
	margin-bottom: 5px;
}

#info1, #info2,#info3,#info4,#info5,#info6 {
	display: none;
}

#boton{
	background-image: url("../img/icons/mas.png");
	background-repeat: none;
	display: flex;
	text-align: justify;
	margin:auto;
	justify-content: center center;
	width: 30px;
	height: 30px;	
	position:relative;
}
#boton:hover{
	cursor: pointer;	
}

/*#boton:active{
	
}*/
/*
#mas {
	position: relative;
	overflow: hidden;
}*/



article{
	position: relative;
	float: left;
	margin-left: 5px;
	width: 80%;
	background-color: crimson;
	margin-bottom: 5px;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	position: relative;
	background-color: crimson;
	width: 90%;
	margin: auto;
}
.modulo1 {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow-y: hidden;
	clear:both;
	margin: 15px;
	justify-content: center center;

}

.perro{
	position: relative;
	background-color: #FFFF70;
	margin: auto;
	margin-top: 5px;
	
}

.perro h2{
	text-align: center;
	color: #DAA520;
	font-family: arial, verdana, sans-serif;	
}

.perro p{
	position:relative;
	display: flex;
	padding:auto;
	text-align: justify;
	margin:auto;
	justify-content: center center;
	overflow: hidden;
	width:75%;
}

.perro img{
	display: flex;
	justify-content: center;
margin: auto;	
}

.perro-par{
	background-color: #FFFF99;
}

/* ASIDE */
aside{
	display: flex;
	flex-direction: flex-end;
	width: 15%;
	background-color: crimson;
	clear:right;
}

aside h3{
	margin: 5px auto 40px auto;
	text-align: center;
	font-size: 25px;
}

aside ul li {
	height: 100px;
	list-style-type: none;
	padding-left: 5px;
}
aside ul li a{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-align:justify;
	
	
}

/* SOLO PARA TABLA */

#tabla{
	display: flex;
	justify-content: center;
	clear: both;
	width: 100%;
	margin:auto;
	padding: 10px;
	background-color: transparent;
	
}
table{
	border-collapse: collapse;
}

table th,td {
	border: 2px solid #000;
	padding-left: 2px;
	padding-right: 2px;
	width: 130px;
}
table thead {
	background: #000;
	color: #FFF;
}
table tbody tr:nth-child(even){
    background: crimson;
    color: #FFF;
}
 
table tbody tr:nth-child(odd){
    background: #FFF;
    color: crimson;
}

table tbody tr:hover{
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}
table tfoot{
	text-align: center;
}

table tfoot td{
	border:none;	
}

table tfoot button{
	background-color: #FFF;
	cursor: pointer;
}
/* SOLO PARA FORMULARIO*/
#contacto {
	display: flex;
	justify-content: center;
	clear: both;
	width: 100%;
	margin:auto;
	padding: 10px;
	background-color: transparent;
}
.formulario{
	position:relative;
	width:  100%;
	margin: auto;
	clear:both;
}
.formulario form{
	margin: auto;
	padding-top: 5px;
	font-weight: bold;
}


.formulario form li{
	list-style-type: none;
	margin: 10px 10px;
	text-align: center;
	
}

.checkbox input{
	margin: 5px;
}
.formulario textarea{
	resize: none;
	max-width: 328px;
	max-height: 104px;
	border-radius: 8px;
	padding:2px;
	text-align: center;
}

.formulario input{
	border-radius: 8px;
	padding:2px;
	text-align: center;
	
}

.formulario button{
	padding-top: 2px;
	margin: auto;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	background-color: antiquewhite;
	background-image:url("../img/icons/send.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.formulario button:hover{
	cursor: pointer;
	
}

/* FOOTER */

footer {
	clear:both;
}
footer p{
	text-align: center;
}


footer span {
	color: red;
}

@media(max-width:810px){
	.modulo1{
		flex-direction: column;
	}
	.perro{
		display: block;
		position:relative;
	}
	aside{
		
		height: 1799px;
	}
}
@media(max-width:550px){
	.modulo1{
		flex-direction: column;
		position: relative;
		flex-direction:flex-start;
		width: 70%;
	}
	.perro{
		display: block;
		position:relative;
		flex-direction: flex-start;
	}
	aside{
		display: flex;
		flex-direction: flex-end;
		width: 10%;
		height: 1799px;
		background-color: crimson;
		clear:right;
	}
	
	aside ul {
		position: relative;
		margin-left: -50px;
	}
	aside h3{
		text-align: center;
		font-size: 25px;
	}

	aside ul li {
		height: 100px;
		list-style-type: none;
		
	}
	aside ul li a{
		color: #FFF;
		font-size: 18px;
		font-weight: bold;
		text-align:justify;
		
		
	}
}


	